@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

* {
    font-family: 'Noto Serif', serif;
}

#logo {
    width: 250px;
    height: 60px;
}

.navbar .nav-link {
    padding-top: 20px !important;
    padding-right: 50px !important;
    color: #6534CC !important;
    font-weight: 500 !important;
    font-size: 20px;
    padding-bottom: 5px;
}

#services{
    text-decoration: underline #FF4133;
}

#home {
    background-image: url(../assets/images/home-bg.jpg);
    height: 120vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#home .above-search-bar-text {
    text-align: center;
    padding: 145px 0 20px 0;
    font-size: 75px;
    font-weight: 600;
}

#custom-purple{
    color: #6534CC;
}

#custom-red {
    color: #FF4133;
}

.seach-box{
    padding-top: 20px;
}

.seach-box input {
    height: 50px;
    width: 400px;
    border-width: 1.5px;
    border-color: #FF4133;
    border-radius: 25px;
}

.seach-box input[type="text"] {
    padding: 20px;
}



.services-image {
    width: 110px;
    height: 140px;
    margin: auto;
    padding: 15px 0px;
    border: 1px;
}

.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.services .btn {
    left: 50%;
}

.services #signup{
    border-radius: 20px;
    width: 150px;
    background-color: #FF4133;
    outline: none;
    border: none;

}

.join-area {
    background-image: url(../assets/images/web-talkshala-graphics-png.png);
    height: 31vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.talkshala .talkshala-description{
    padding-left: 135px;
}

.talkshala .talkshala-description #talkshala-heading{
    color: #6534CC;
    font-size: 20px;
}

.talkshala .talkshala-description #talkshala-text{
    font-size: 15px;
}

.imagetext{
    width: 90px;
    height: 90px;
    float: left;
    padding-right: 10px;
}



.talkshala #join-btn{
    border-radius: 45px;
    width: 300px;
    border-color: #FF4133;
    outline: none;
    color: #6534CC;
    margin-top: 50px;
    font-size: 22px;
    border-width: 2px;
}

/*.newsletter {
    background-image: url(../assets/images/college-students-sitting-bench-illustration-university-girls-boys-with-bags-laptop.jpg);
    height: 150vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}*/

.newsletter .newsletter-top-img{
    width: 100%;
    height: 35vh;
}



.newsletter .newsletter-text h1 {
    font-size: 50px;
}

.newsletter-text input {
    height: 50px;
    width: 400px;
    border-width: 1.5px;
    border-color: red;
    border-radius: 16px 0 0 16px;
}

.newsletter-text input[type="button"] {
    color: #6534CC;
    background: #fff;
    margin-left: -8px;


    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
    width: 100px;
  }

.newsletter-text input[type="text"] {
    padding: 20px;
}



.site-footer {
    background-color: #fff;
    padding: 45px 0px 0px 0px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer .copyright-area{
    background-color: #0F0623;
    padding: 20px;
    color: #fff;
}
.site-footer .copyright-area #footer-copyright-text{
    padding: 20px;
    padding-left: 325px;
    padding-top: 30px;
}


.site-footer h6 {
    color: #6534CC;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer #footer-social-icons{
    width: 50px;
    height: 45px;
    padding-bottom: 2px;
    /* line-height: 229px; */
    margin-left: 6px;
    margin-right: 0;
    /* border-radius: 100%;*/

}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}


.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}


@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}



@media only screen and (max-width: 700px){
    #home .above-search-bar-text {
        text-align: center;
        padding: 105px 0 20px 0;
        font-size: 50px;
        font-weight: 600;
    }

    #home .above-search-bar-text .tagline-text{
        font-size: 20px;
    }
    .seach-box{
        padding-top: 20px;
    }
    
    .seach-box input {
        height: 50px;
        width: 400px;
        border-width: 1.5px;
        border-color: #FF4133;
        border-radius: 25px;
    }
    
    .seach-box input[type="text"] {
        padding: 20px;
    }
    
}

@media only screen and (max-width: 600px) {

    .search-box {
        width: 55%;
        position: absolute;
    }
}